.inpfoto {
  display: none;
}
.inpfoto2 {
  background-color: #596ad3;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 4px;
  width: 70%;
  text-align: center;
  word-break: break-word;
}
.forlb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lixeira {
  width: 18px;
  height: 18px;
}
.botlix {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1px 17px 1px 17px;
  color: white;
  border: none;
  height: 30px;
  background: #a82121;
}
.cant13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .botlix {
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 1px 17px 1px 17px;
    color: white;
    margin-left: 1vw;
    border: none;
    height: 30px;
    background: #a82121;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }
}
