.contentquery {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fundcons {
  display: block;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  width: 88vw;
  height: 800px;
  min-width: 400px;
  position: relative;
  margin-left: auto;

  margin-right: auto;
}
.titl {
  text-align: center;
  padding-top: 10px;
}
.divisor3 {
  background-color: #d1d5f2;
  height: 4px;
  width: 100%;
}
.tabela {
  background-color: #ffffff;
  padding: 1rem;
  table-layout: auto;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-width: 2px;
  border-color: #d1d5f2; /* tira a linha borda da tabela*/
}
.tabela tr td {
  width: 80vw;
}
.tabela caption {
  text-transform: uppercase;
  height: 2rem;
  font-size: 1.2em;
}
.tabela th,
.tabela td,
.tabela caption {
  padding: 12px;
  text-align: center;
} /*th= data do header; td= data da tabela*/

.tabela th {
  background: #596ad3;
  color: white;
  font-weight: normal;
}

.tabela tr {
  height: 2rem;
}
.sel2 {
  border: none;
  background-color: #52575e;
  color: white;
}
.tabela tr td:nth-child(1),
.tabela tr td:nth-child(3),
.tabela tr td:nth-child(4),
.tabela tr td:nth-child(5) /*primeira, terceira,quarta e quinta coluna*/ {
  text-align: center;
}
.tabela tr td:nth-child(4) button:nth-child(1)  /*quarta coluna, primeiro botão */ {
  margin-right: 10px;
}
.tabela tr:nth-of-type(2n) /*2n= uma a cada duas linhas*/ {
  background: rgba(171, 180, 212, 0.356);
}
.tabela tr:hover /*hover=quando passa por cima da linha*/ {
  background: rgba(42, 50, 100, 0.2);
}
@media (max-width: 1100px) {
  /*
  .tabela {
    min-width: 100%;
  }
  .tabela thead {
    display: none;
  }
  .tabela tr td {
    display: grid;
    grid-template-columns: 1ch auto;
  }
  .tabela tr td:nth-child(1):before,
  .tabela tr td:nth-child(2):before,  before= pseudo elemento do css, só é exibido quando vc altera a propriedade content 
  .tabela tr td:nth-child(3):before {
    content: attr(data-cell);
    text-transform: capitalize;
    font-weight: 600;
  }
  .tabela tr td:nth-child(1),
  .tabela tr td:nth-child(3),
  .tabela tr td:nth-child(4) primeira, terceira e quarta coluna {
  }
  .tabela tr td:nth-child(4) {
    grid-template-columns: auto auto;
  }*/
}
